main {
  max-width: 85vw !important;
}

.dumi-default-header-content {
  max-width: 85vw !important;
}

.dumi-default-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
